extends layout

block content
	if posts[0]
		div.list-group
			each post, index in posts
				a.list-group-item(href=`post/${post.id}`) #{post.title}
					p
						span.text-muted= new Date(post.created_at).toDateString()
	else
		p no posts yet
