extends layout

block content
	section(class="banner-container")
		img(src="images/banner.jpg", class="banner-img")
		div(class="banner-opacity")
			p(class="banner-content") Tips on Magic's Tricks from Wilbo

	div.container-fluid.m-2
		div.row
			div.col-sm
				.card.text-center
					.card-header.featured-header
						| Featured Post
					.card-body
						img(src="images/cards.jpg", class="card-img-top featured-post-image")
					unless !list[0]
						div.card-img-overlay.featured-overlay
							a.featured-link(href=`/post/${list[0]["id"]}`)
								h5.card-title.title-overlay=list[0]["title"]

			div.col-sm
				.card.text-center
					.card-header.featured-header
						| Recent Posts
					.card-body
						unless !list[0]
							div.list-group
								each val, index in list
									a.list-group-item(href=`/post/${val.id}`) #{val.title}
										p
											span.text-muted= new Date(val.created_at).toDateString()
