doctype html
html(lang="en")
	head
		title= title
		block head
		meta(name='viewport' content="width=device-width, intitial-scale=1.0")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
		link(href="https://unpkg.com/@saeris/typeface-beleren-bold@latest/index.css" rel="stylesheet" type="text/css")
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/mtg.css')

	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='/') Wilbo of the Coast
			button.navbar-toggler(type='button',
				data-toggle='collapse',
				data-target='#navbarNavAltMarkup',
				aria-controls='navbarNavAltMarkup',
				aria-expanded='false',
				aria-label='Toggle navigation'
			)
				span.navbar-toggler-icon

			#navbarNavAltMarkup.collapse.navbar-collapse
				.navbar-nav
					a.nav-item.nav-link(href='/')
						| Home
						span.sr-only (current)
					a.nav-item.nav-link(href='/about') About
					a.nav-item.nav-link(href='/archive') Archive
					if user
						a.nav-item.nav-link(href='/post/new') New Post
						a.nav-item.nav-link(href='/user/invite') Invite
						a.nav-item.nav-link(href='/user/logout') Logout
					else
						a.nav-item.nav-link(href='/user/login') Login

		div(class="container-fluid")
			block content

		script(
			src="https://code.jquery.com/jquery-3.5.1.min.js"
			,integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			,crossorigin="anonymous"
		)
		script(
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			,integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			,crossorigin="anonymous"
		)
		script(
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			,integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			,crossorigin="anonymous"
		)
