extends layout

block content
	h2 Login
	p #{ message }
	form(name='login', method='post', action='')
		label.sr-only(for='username') username
		div.form-group.input-group.mb-3.col-5
			div.input-group-prepend
				span.input-group-text username
			input.form-control(type='text' name='username')
		div.form-group.input-group.mb-3.col-5
			label.sr-only(for='password') password
			div.input-group-prepend
				span.input-group-text password
			input.form-control(type='password', name='password')
		div.form-group
			input.btn.btn-primary(type='submit', name='submit', value='login')
