extends layout

block head
	link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
	link(href='/stylesheets/mtg.css', rel='stylesheet')
	script( src="https://code.jquery.com/jquery-3.5.1.min.js"
		,integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		,crossorigin="anonymous"
	)

block content

	if (oldTitle && oldBody)
		h2 Edit Post
	else
		h2 New Post

	div.input-group.input-group-lg.p-1
		div.input-group-prepend
			span.input-group-text Title
		input.form-control(type='text', id='title')

	div(id='toolbar')
		span.ql-formats
			select.ql-size
			button.ql-bold
			button.ql-italic
			button.ql-underline
			button.ql-strike
			select.ql-color
			select.ql-background
		span.ql-formats
			button(class=['mtg-btn', 'mtg-btn-white', 'ql-whiteMana'])
				svg(class=['mtg-svg', 'mtg-svg-white'], id='mtg-svg-white')
			button(class=['mtg-btn', 'mtg-btn-blue', 'ql-blueMana'])
				svg(class=['mtg-svg', 'mtg-svg-blue'], id='mtg-svg-blue')
			button(class=['mtg-btn', 'mtg-btn-black', 'ql-blackMana'])
				svg(class=['mtg-svg', 'mtg-svg-black'], id='mtg-svg-black')
			button(class=['mtg-btn', 'mtg-btn-red', 'ql-redMana'])
				svg(class=['mtg-svg', 'mtg-svg-red'], id='mtg-svg-red')
			button(class=['mtg-btn', 'mtg-btn-green', 'ql-greenMana'])
				svg(class=['mtg-svg', 'mtg-svg-green'], id='mtg-svg-green')
			button(class=['mtg-btn', 'mtg-btn-colorless', 'ql-colorlessMana'])
					svg(class=['mtg-svg', 'mtg-svg-colorless'] id='mtg-svg-colorless')
	div(id='editor')

	div.row.p-1
		div.col-sm-4
			div.input-group.mb-3(id='cardFinder')
				input.form-control(type='text', id='cardName', placeholder='Card Name')
				div.input-group-append
					button.btn.btn-outline-secondary(type='button', id='searchBtn', value='search') Search
		div.col-sm-1
			div.spinner-border.m-1(id='waitElement', hidden='true')
				span.sr-only Loading...
		div.col
			div.input-group.mb-3(id='cardSelectContainer', hidden='true')
				div.input-group-prepend
					button.btn.btn-outline-secondary(id='cardSelectButton', type='button') Select
				select.custom-select(id='cardSelect')
	div.row.p-1.m-1
		div.input-group.mb-3
			button.btn.btn-secondary(id='submit') Publish

	script(src='https://cdn.quilljs.com/1.3.6/quill.js')
	script(src='/js/editor.js')
	script(src='/js/cardModule.js')

	if (oldBody && oldTitle)
		script(type='application/javascript').
			const postBody= `!{ oldBody }`;
			const postTitle= `!{ oldTitle }`;
			loadPost(postTitle, postBody);
			editPostButton();
	else
		script(type='application/javascript').
			newPostButton();

