extends layout

block head
	link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
	link(href='/stylesheets/mtg.css', rel='stylesheet')
	script( src="https://code.jquery.com/jquery-3.5.1.min.js"
		,integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		,crossorigin="anonymous"
	)

block content
	h2 Edit Profile
	div(id='toolbar')
		span.ql-formats
			select.ql-size
			button.ql-bold
			button.ql-italic
			button.ql-underline
			button.ql-strike
			select.ql-color
			select.ql-background
		span.ql-formats
			button(class=['mtg-btn', 'mtg-btn-white', 'ql-whiteMana'])
				svg(class=['mtg-svg', 'mtg-svg-white'], id='mtg-svg-white')
			button(class=['mtg-btn', 'mtg-btn-blue', 'ql-blueMana'])
				svg(class=['mtg-svg', 'mtg-svg-blue'], id='mtg-svg-blue')
			button(class=['mtg-btn', 'mtg-btn-black', 'ql-blackMana'])
				svg(class=['mtg-svg', 'mtg-svg-black'], id='mtg-svg-black')
			button(class=['mtg-btn', 'mtg-btn-red', 'ql-redMana'])
				svg(class=['mtg-svg', 'mtg-svg-red'], id='mtg-svg-red')
			button(class=['mtg-btn', 'mtg-btn-green', 'ql-greenMana'])
				svg(class=['mtg-svg', 'mtg-svg-green'], id='mtg-svg-green')
			button(class=['mtg-btn', 'mtg-btn-colorless', 'ql-colorlessMana'])
				svg(class=['mtg-svg', 'mtg-svg-colorless'] id='mtg-svg-colorless')
	div(id='editor')
	div(id='cardFinder')
		label(for='cardName') insert card
		input(type='text', id='cardName')
		input(type='button', id='searchBtn', value='search')
	button(id='submit') Publish
	script(src='https://cdn.quilljs.com/1.3.6/quill.js')
	script(src='/js/editor.js')
	script(src='/js/cardModule.js')
	if (oldBody)
		script(type='application/javascript').
			const postBody= `!{ oldBody }`;
			loadEditor(oldBody);
	script(type='application/javascript').
		editProfileButton();

