extends layout

block content
	h2 Register
	p #{ message }
	form(name='register', method='post', action='')
		p
			label username
			input(type='text', required='true', name='username')
		p
			label password
			input(type='password', required='true', name='password')
		p
			label confirm password
			input(type='password', required='true', name='confirmPassword')
		p
			label invite code
			input(type='text', required='true', name='inviteCode')
		p
			input(type='submit', name='submit', value='register')
