extends layout

block content
	h2 #{post.title}
	small by #{post.author} on 
	small= new Date(post.created_at).toDateString()
	if (authorControls === true)
		span
			a.btn.btn-link.btn-sm(href="/post/"+ post.id + "/edit") edit
			a.btn.btn-link.btn-sm(href="/post/" + post.id + "/delete", onclick="return confirm('Delete this post?')") delete
	p !{post.body}
