.banner-container {
    height: 35em;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: white;
    position: relative;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    display: table-cell;
    position: absolute;
    min-width: 1000px;
 }

.banner-opacity {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-content {
    padding-top: 30%;
    font-family: "Beleren Bold";
    font-size: 50px;
    padding-left: 10%;
    display: table-cell;
}

.index-blog-item {
    width: 18rem;
}

.card-title, .featured-header, .card-header {
    font-family: "Beleren Bold";
}

.card-link {
    padding-right: 10px;
    max-width: 738px;
}

.card-img {
    padding-top: 30%;
}

.featured-post-image {
    opacity: 0.7;
}

.featured-overlay {
    margin-top: 10%;
}

.featured-link:link {
    color: #191919;
}

.featured-link:visited {
    color: #191919;
}
.featured-link:hover {
    text-decoration: none;
}


.title-overlay {
    text-align: left;
    font-size: 5em;
    background-color: white;
    width: 90%;
}
