.mtg-svg {
	width: 1.25em;
	height: 1.25em;
	margin: 0.125em 0.125em 0.5em 0.125em;
}

.mtg-svg-btn {
	width: 1.5em;
	height: 1.5em;
}

.mtg-svg-white {
	background: url('../images/mtg_white.svg') no-repeat;
}
.mtg-svg-blue {
	background: url('../images/mtg_blue.svg') no-repeat;
}
.mtg-svg-black {
	background: url('../images/mtg_black.svg') no-repeat;
}
.mtg-svg-red {
	background: url('../images/mtg_red.svg') no-repeat;
}
.mtg-svg-green {
	background: url('../images/mtg_green.svg') no-repeat;
}
.mtg-svg-colorless {
	background: url('../images/mtg_colorless.svg') no-repeat;
}
